<br>
<div class="jumbotron">
  <h1>knocitoff</h1>
  <p>knocitoff is a self destrusting To-Do List which leaves no time for procrastinating, GO!!!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Makes you smarter</h2>
    <p>Time has a wonderfull way of showing what really matters.</p>
  </div>
  <div class="col-md-4">
    <h2>Ticktock</h2>
    <p>You may delay but time will not.</p>
  </div>
  <div class="col-md-4">
    <h2>Makes you better looking</h2>
    <p>knocitoff will make you better looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira.</p>
  </div>
</div>


