 h1 {
   color: Dark Blue;
 }

 p#index-title {
   text-align: center;
   font-size: 15px;
   color: light blue;
 }

.social-btn{
  display: block;
  width: 450px;
  height: 35px;
  background-color: #3b5998;
  color: #F2F2F2;
  text-align: center;
  padding: 5px;
  font-size: 10px
}

